.row-cart-list {
  background-color: white;
  margin: 50px;
}

.product-img {
  height: 50px;
  width: 50px;
}

.product-name {
  width: 30%;
  margin-left: 20px;

}

.product-price {
  margin-left: auto;
  margin-right: auto;



}

.btn {
  margin-left: auto;
}

.total-cost-txt {
  font-size: larger;
  font-weight: bold;
  color: #BF8D30;
}
