<section class="container">
  <!-------------------------- Banner ----------------------->
  <div class="row m-0 banner mb-5">
    <div class="col-md">
      <span> {{ productTypeH1 }} </span>
    </div>
  </div>

  <div class="row row-product text-center">
    <div
      id="{{ i.id }}"
      class="col-sm col-product"
      *ngFor="let i of productList"
      routerLink="/product/{{ i.id }}"
    >
      <!-------------------------- Name ----------------------->
      <p class="product-name">
        {{ i.name }}
      </p>
      <!-------------------------- Image ----------------------->
      <img
        src="{{ i.image }}"
        style="width: 200px; height: 200px"
        alt="..."
      />
      <!-------------------------- Price ----------------------->
      <p class="product-price">
        {{ i.price.toString() | currency: "BRL" }}
      </p>
      <p>ou</p>
      <p>10 x {{ splitPrice(i.price) | currency: "BRL" }}</p>
      <!-------------------------- Button ----------------------->
      <p>
        <button
          class="btn btn-outline-success btn-cart"
          type="submit"
          (click)="addToCart(i.id)"
          (click)="$event.stopPropagation()"
          data-bs-toggle="modal"
          data-bs-target="#Modal"
        >
          <i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho
        </button>
      </p>
    </div>
  </div>
</section>

<!---------------- Modal ----------------->
<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrinho de compras</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <span>Produto adicionado do carrinho !</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Continuar comprando!
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          routerLink="/cart"
        >
          Ver Carrinho
        </button>
      </div>
    </div>
  </div>
</div>
